<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./css/rasa.css">
  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
</head>

<div class="notice">
  <div class="note">Additional Note: <br>
    <%= datainputted.rasa_note %><br>
  </div>
</div>

<script>
  window.onload = async function () {
    var number = '<%= encryptedNumber %>';
    var email = '<%= encryptedEmail %>';
    var encryptedId = '<%= encryptedId %>';
    console.log(encryptedId, "encryptedId")
    console.log(number, "var number");

    var rasa_note = '<%= datainputted.rasa_note %>';

    if (rasa_note !== null && rasa_note !== "") {
      alert('Rasa already voided and has note:', rasa_note);
      window.location.href = `/ejsrasaVanilla2/${encryptedId}`;
    } else {
      do {
        rasa_note = prompt("Enter additional notes:");
      } while (rasa_note === null || rasa_note === "");
      console.log('User input:', rasa_note);

      try {
        const response = await fetch("/api/rasa_note", {
          method: "POST",
          body: JSON.stringify({ note: rasa_note,number:number, id: '<%= datainputted.id %>' }),
          headers: {
            "Content-type": "application/json"
          }
        });

        if (response.ok) {
          console.log('Rasa note updated successfully.');

          const signatureResponse = await fetch("/api/rasa_signature", {
            method: "POST",
            body: JSON.stringify({ number: number, email: email, id: '<%= datainputted.id %>' }),
            headers: {
              "Content-type": "application/json"
            }
          });

          if (signatureResponse.ok) {
            console.log('Rasa signature API processed successfully.');
            window.location.href = `/verification2/${encryptedId}`;
          } else {
            console.error('There was a problem with the rasa_signature fetch operation.');
          }
        } else {
          throw new Error('Network response was not ok');
        }
      } catch (error) {
        console.error('There was a problem with the rasa_note fetch operation:', error);
      }
    }
  }
</script>
</body>

</html>